# Python 相关
__pycache__/
*.py[cod]
*$py.class
.Python
env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 环境变量文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod
.env.prod.db

# IDE 配置文件
.idea/
.vscode/
*.sublime-*
.DS_Store
Thumbs.db

# 日志文件
logs/
*.log

# 类型检查缓存
.mypy_cache/       # mypy 类型检查缓存
.pytype/           # pytype 类型检查缓存

# 数据库相关（如果用 SQLite 等本地数据库）
*.db               # SQLite 数据库文件
*.sqlite           # SQLite 数据库文件
*.db-journal       # 数据库日志文件

# 临时文件
*.tmp